.banner-home{
    /* z-index: 100; */
    background-image: url('../images/homebanner.jpg') !important;
    min-height: 680px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.search-container{
    display: flex-column;
    margin: 110px auto;
}

.search-container h1{
    font-weight: bold;
}

.search-container h5{
    font-weight: bold;
    font-style: italic;
}

.search{
    display: inline-block;
    text-align: center;
}
